/* *{
    font-family: "SF Pro Display", sans-serif! important;
} */

@font-face {
    font-family: "SF Pro Display", sans-serif! important;
    src: local("SF Pro Display") url('../fonts/sf-pro-font.ttf') format('ttf')
}
:root {
    --black: #1D1D1F;
    --white: #F5F5F7;
    --gray: #6E6E73;
    --zero: 0;
    --light-gray: #F5F5F7;
    --hundred-percent: 100%;
    --base: 0.6rem;
}

html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: .4rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 100px;
}

.main-headline {
    font-size: 28px;
}
.sub-headline {
    font-size: 22px;
}

.paragraph {
    font-size: 17px;
}

.other-details {
    font-size: 15px;
}

.black {
    color: var(--black);
}

.light-gray {
    color: var(--light-gray)
}

.gray {
    color: var(--gray);
}

.white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.button {
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    text-align: center;
    margin: 0;
    font-size: 15px;
    position: relative;
    transition: all .35s;
}

.button-transparent {
    background-color: transparent;
}

.button-outline {
    border: 0.01rem solid rgba(0, 0, 0, 0.6);
}

.button-outline > .button-text{
    position: relative;
    z-index: 2;
}

.button-outline:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--black);
    transition: all .35s;
}

.button-outline:hover .button-text{
    color: var(--white);
    transition: all .35s;
}

.button-outline:hover:after{
    width: 100%;
}

.button-outline:hover {
    cursor: pointer;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.button-outline-light-shadow:hover {
    cursor: pointer;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.1);
}
/*HEADER START*/
.header {
    position: sticky;
    top: 0;
    width: var(--hundred-percent);
    height: 3rem;
    z-index: 3;
}

.header-shadow {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-light {
    background: #F5F5F7;
}

.header-bottom-line {
    border-bottom: 0.1rem solid rgba(243, 241, 239, 4);
}
.logo {
    font-size: 1.3rem;
    font-weight: lighter;
}

.nav-items {
    margin-bottom: 0;
}

.nav-item {
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-item > a {
    color: var(--black);
    font-size: .9rem;
}

.nav-item > a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item > a:hover:after {
    transform: scaleX(.999);
    transform-origin: bottom left;
}
.nav-item > a:hover {
    text-decoration: none;
}
.small-screen-navigation {
    position: absolute;
    width: var(--hundred-percent);
    display: none;
    background-color: var(--light-gray);
    padding: 1rem;
}

.small-screen-navigation .nav-item {
    margin-bottom: .5rem;
}

.small-screen-navigation  .nav-item {
    margin-left: 0;
    margin-right: 0;
}

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.dropdown {
    animation: fade .3s ease-in-out;
}

.disable-flex-wrap {
    flex-wrap: nowrap;
}

.blur{
    position: absolute;
    top: var(--zero);
    left: var(--zero);
    right: var(--zero);
    bottom: var(--zero);
    z-index: -1;
    filter: blur(9px);
}

.small-item-hover > a:hover:after {
    transform: none;
}

.small-item-hover > a::after {
    display: none;
}

/*END OF HEADER*/

/*For phone*/
@media only screen and (max-width: 600px) {
    /*HEADER START*/
    .header {
        height: 3.5rem;
    }
    .large-screen-navigation {
        display: none;
    }

    .nav-item{
        display: block;
    }

    .burger {
        display: block;
    }
/*    END OF HEADER*/
}

@media only screen and (min-width: 600px) and (max-width: 800px){
    /*HEADER START*/
    .header {
        height: 3.5rem;
    }
    .large-screen-navigation {
        display: none;
    }

    .nav-item{
        display: block;
    }

    .burger {
        display: block;
    }
    /*    END OF HEADER*/
}

@media only screen and (min-width: 800px){
    /*HEADER START*/
    .large-screen-navigation {
        display: block;
    }
    .nav-item{
        display: inline-block;
    }

    .small-screen-navigation{
        display: none;
    }

    .burger {
        display: none;
    }
    /*    END OF HEADER*/
}


/*LANDING PAGE*/
#landing-page {
    position: relative;
}

.landing-height {
    height: 70vh;
}

.landing-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /*background-image: url("../../background-3.png");*/
    opacity: 0.3;
    filter: blur(2px);
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.landing-image > img {
    width: 100%;
    height: 102%;
}

.underline {
    border-bottom: 0.1rem solid #000;
}

.underline-light {
    border-bottom: 0.1rem solid var(--gray);
}

.highlight {
 background-image: linear-gradient(180deg, #fffaa3, #fffaa3);
}
.landing-hover-1:hover {
    background-color: #cefe9d;
    background-image: none;
    cursor: pointer;
    animation: .3s ease-in-out;
}

.landing-hover-2:hover {
    background-image: linear-gradient(
            180deg, rgba(65, 217, 255, 0.5), rgba(65, 217, 255, 0.5));
    cursor: pointer;
}

.landing-hover-3:hover {
    background-image: linear-gradient(
            180deg, rgba(255, 165, 21, 0.5), rgba(255, 165, 21, 0.5));
    cursor: pointer;
}

.scroll-down-height {
    height: 8.8rem;
}
.scroll-down-indicator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 1px;
}

.scroll-down-indicator:hover {
    cursor: pointer;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.3rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

/*END OF LANDING PAGE*/

/*START OF RECENT WORK*/
.recent-work-item {
    margin-top: 1.4rem;
}
.project-info:hover img{
    cursor: pointer;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.recent-work-item .project-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, .7);
}

.recent-work-item:hover .project-info {
    opacity: 1;
    transition: all .3s ease-in-out;
}
/*END OF RECENT WORK*/

/*SKILLS SECTION*/
.skill-card {
    background-color: white;
    min-height: 20rem;
    margin-top: 1.4rem;
}

.skill-card-border {
    border: .1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
}

.skill-card-body{
    padding: 1rem;
}

.skill-card-shadow {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}

.skill-card-points {
    padding-left: .5rem;
}
/*END OF SKILLS SECTION*/

.timeline {
    position: relative;
    border-left: .1rem solid black;
}

.timeline-horizontal {
    position: absolute;
}


#timeline-content {
    margin-top: 50px;
    text-align: center;
}
/* Timeline */
.timeline {
    border-left: .2rem solid var(--black);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: var(--black);
    margin: 3.125rem 9rem;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    font-weight: 100;
    max-width: 100%;
}
.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: var(--black);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}
.timeline .event:after {
    box-shadow: 0 0 0 .2rem var(--black);
    left: -57.85px;
    background: var(--white);
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.highlight-text-black {
    color: black;
}

.highlight-bg-green{
    background-color: greenyellow;
}

#lets-connect {
    background-color: var(--black);
    color: white;
}

.text-area {
    width: var(--hundred-percent);
    height: 6rem!important;
    resize: none;
}

#footer{
    background-color: var(--black);
    color: var(--light-gray);
}
